body {
    font-family: 'Quicksand', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.container {
    text-align: center;
}

#result {
    width: 100px;
    height: 100px;
    margin-top: 20px;
    display: inline-block;
    background-color: white;
}

button {
    margin: 10px;
    padding: 5px 15px;
}

#colorName {
    margin-top: 10px;
}